<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <form [formGroup]="searchForm">
      <ion-input
        placeholder="Search"
        label="Search"
        formControlName="search"
        (input)="onChange($event)"
      ></ion-input>
    </form>
  </ion-item>

  <!-- si hay peliculas mostrar el ion-list y si no hay muestra un texto centrado -->

  <div *ngIf="this.movies.length; else noMovies">
    <ion-list>
      <ion-card *ngFor="let movie of this.movies">
        <ion-card-header>
          <ion-card-title> {{ movie.title }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="{{ movie.poster }}" alt="{{ movie.title }}" />
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <ng-template #noMovies>
    <h1 class="ion-text-center">No hay peliculas</h1>
  </ng-template>
</ion-content>
